<header>
  <div class="wrapper-header">
    <div class="container">
      <div class="alignitem-center">
        <div class="row">
          <div class="col-md-6 col-6">
            <div class="left-header">
              <a title="Tel" class="phone" href="tel:(+84) - 1900866891" style="padding-right: 35px">
                <i class="fas fa-phone-alt" style="font-size: 12px;"></i>
                <span  class="mobile-phone">(+84) - 1900866891</span>
              </a>
              <a  title="Email" href="mailto:trungtamkhaothi@vnu.edu.vn;" style="color: #353535;text-decoration: none;background-color: initial;">
                <i class="fas fa-envelope"></i>
                <span>trungtamkhaothi@vnu.edu.vn</span>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-6">
            <div class="right-header">
              <a  target="_blank" title="Fanpage Facebook" class="circle" href="https://www.facebook.com">
                <i  class="fab fa-facebook-f" style="color: #0672b6;"></i>
              </a>
              <a  target="_blank" title="Fanpage Twitter" class="circle" href="https://google.com.vn">
                <i  class="fab fa-twitter"></i>
              </a>
              <a  target="_blank" title="Youtube" class="circle" href="https://google.com.vn">
                <i class="fab fa-youtube" style="color: #ff0000;"></i>
              </a>
              <div class="search-container">
                <div class="search-box">
                  <input type="text" placeholder="| Tìm kiếm..." aria-label="Tìm kiếm" aria-describedby="basic-addon2" class="form-control ng-untouched ng-pristine ng-valid">
                  <span ><i class="fas fa-search"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-logo">
    <div class="container">
      <div class="alignitem-center">
        <div class="row">
          <div class="col-md-4">
            <div class="logo">
              <a href="">
                <img src="assets/images/Logo/logo-ttkt.png" alt="#" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="fix-bar">
              <ul>
                <li>
                  <a href="">Trang chủ</a>
                </li>
                <li>
                  <a href="">Giới thiệu</a>
                </li>
                <li>
                  <a href="/danh-muc-tin">tin tức-sự kiện</a>
                </li>
                <li>
                  <a href="">Các kỳ thi</a>
                </li>
                <li>
                  <a href="">Các hoạt động khảo thí</a>
                </li>
                <li>
                  <a href="/lien-he">liên hệ</a>
                </li>
              </ul>
            </div>

            <div class="menu-mobile">
              <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color: #c5161c; border: none; margin-bottom: 5px;">
                  <i style='font-size:24px;' class='fas'>&#xf039;</i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="">Trang chủ </a>
                  <a class="dropdown-item" href="#">Giới thiệu</a>
                  <a class="dropdown-item" href="/danh-muc-tin">Tin tức- Sự kiện</a>
                  <a class="dropdown-item" href="#">Các kỳ thi </a>
                  <a class="dropdown-item" href="#">Các hoạt động khảo thí</a>
                  <a class="dropdown-item" href="/lien-he">Liên hệ</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
