<div class="container-fluid">
  <section class="menu-footer">
    <div class="container">
      <ul  class="navbar-nav">
        <li class="nav-item">
          <a  class="nav-link" title="VNU - CET" href="/">VNU - CET</a>
        </li>
        <li  class="nav-item">
          <a  class="nav-link" href="#" title="Đối tác">Đối tác</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" title="Đào tạo" href="#">Đào tạo</a>
        </li>
        <li  class="nav-item">
          <a  class="nav-link" href="#" title="Khoa học">Khoa học</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" href="#" title="Tuyển dụng">Tuyển dụng</a>
        </li>
        <li  class="nav-item">
          <a  class="nav-link" title="Phản hồi" href="#">Phản hồi</a>
        </li>
      </ul>
    </div>
  </section>
  <footer class="footer-home">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="logo">
            <a  href="/">
              <img src="assets/images/Logo/logo-ttkt.png" alt="#lỗi" class="img-fluid">
            </a>
          </div>
          <div class="left-footer">
            <p style="font-family: Googlesans-Regular; font-size: 16px; margin-bottom: 5px; margin-top: 0;">Trụ sở chính: Tầng 5, Nhà HT2, Khu Đô thị Đại học Quốc gia, Hòa Lạc, Thạch Thất, Hà Nội.</p>
            <p style="font-family: Googlesans-Regular; font-size: 16px; margin-bottom: 5px; margin-top: 0;">Cơ sở 2: Tầng 8, Nhà C1T, 144 Xuân Thủy, Cầu Giấy, Hà Nội.</p>
            <p style="font-family: Googlesans-Regular; font-size: 16px; margin-bottom: 5px; margin-top: 0;">Tel: (+84)-1900866891/ (+84)-24.62532.740</p>
            <p style="font-family: Googlesans-Regular; font-size: 16px; margin-bottom: 5px; margin-top: 0;">Email: trungtamkhaothi@vnu.edu.vn</p>
            <p style="font-family: Googlesans-Regular; font-size: 16px; margin-bottom: 5px; margin-top: 0;">Copyright © 2021 Đại Học Quốc Gia Hà Nội</p>
            <p style="font-family: Googlesans-Regular; font-size: 16px; margin-bottom: 5px; margin-top: 0;"><span style="font-family: Googlesans-Regular;">
              <span style="font-size: 16px;">Trung tâm Khảo thí Đại học Quốc gia Hà Nội thay đổi giao diện mới của website chính thức từ ngày 13/7/2022. Trang website cũ xem tại địa chỉ
              <a title="http://112.137.140.108" href="http://112.137.140.108" target="_blank" rel="noopener">http://112.137.140.108</a></span>
            </span>
          </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="right-footer">
            <div class="list-group">
              <ul>
                <li  class="ng-star-inserted">
                  <a  class="list-group-item ng-star-inserted" href="#" title="Giới thiệu">Giới thiệu</a>
                </li>
                <li  class="ng-star-inserted">
                  <a  class="list-group-item ng-star-inserted" title="Đánh giá năng lực" href="#">Đánh giá năng lực</a>
                </li>
                <li  class="ng-star-inserted">
                  <a  class="list-group-item ng-star-inserted" title="Phản hồi của xã hội" href="#">Phản hồi của xã hội</a>
                </li>
                <li class="ng-star-inserted">
                  <a  class="list-group-item ng-star-inserted" title="Clip và hoạt động" href="#">Clip và hoạt động</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="location">
            <h3>Bản đồ chỉ dẫn</h3>
            <h4>Trung tâm khảo thí</h4>
            <iframe  width="100%" allowfullscreen="" loading="lazy" style="box-shadow: 1px 2px 6px 1px #ccc; border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.857454355759!2d105.78343761131093!3d21.038388868958293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab78d37561fb%3A0x5af36f21edf0cc46!2zVHJ1bmcgdMOibSBLaOG6o28gVGjDrSDEkEhRR0hO!5e0!3m2!1sen!2s!4v1646024353279!5m2!1sen!2s" class="ng-star-inserted"></iframe>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
