
<div class="container-fluid">
  <div id="news-list-layout" >
    <div class="wrp-title">
      <div  class="container">
        <nav  aria-label="breadcrumb">
          <ol  class="breadcrumb">
          </ol>
        </nav>
      </div>
    </div>
    <div class="container">
      <div class="news-list-layout">
        <div class="row">
          <div class="col-md-8">
            <div id="print-section" class="ng-star-inserted">
              <div class="news-list">
                <div class="lastest-news">
                  <div class="title-category">
                    <h6>
                      <a  title="Tin tức &amp; Sự kiện" href="#"> Tin tức &amp; Sự kiện </a>
                    </h6>
                  </div>
                  <article  class="i-lastest ng-star-inserted" style="margin: 0;">
                    <h3  class="i-title">
                      <a  title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#" class="ng-star-inserted">
                        Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024 </a>
                    </h3>
                    <span class="i-date"> 25/08/2023, 15:56 </span>
                    <div  class="i-imgnews">
                      <a  title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#" class="ng-star-inserted">
                        <img catcherror="" lazyload="" class="img-fluid" alt="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" src="https://cet.vnu.edu.vn/gw/imageresize/unsafe/267x181/smart/cet.vnu.edu.vn/gw/file/v5/FileObject/public/255c8a68-b056-4acf-be46-8185c950017c/download"></a>
                      </div>
                      <p class="description-news">Sáng ngày 24 tháng 8 năm 2023, Trung tâm Khảo thí ĐHQGHN tổ chức Hội nghị “Tổng kết kỳ thi Đánh giá năng lực (HSA) năm 2023 và kế hoạch triển khai năm 2024”.</p>
                    </article>
                    <article  class="i-lastest ng-star-inserted">
                      <h3  class="i-title">
                        <a  title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#" class="ng-star-inserted">
                          Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024 </a>
                      </h3>
                      <span class="i-date"> 25/08/2023, 15:56 </span>
                      <div  class="i-imgnews">
                        <a  title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#" class="ng-star-inserted">
                          <img catcherror="" lazyload="" class="img-fluid" alt="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" src="https://cet.vnu.edu.vn/gw/imageresize/unsafe/267x181/smart/cet.vnu.edu.vn/gw/file/v5/FileObject/public/255c8a68-b056-4acf-be46-8185c950017c/download"></a>
                        </div>
                        <p class="description-news">Sáng ngày 24 tháng 8 năm 2023, Trung tâm Khảo thí ĐHQGHN tổ chức Hội nghị “Tổng kết kỳ thi Đánh giá năng lực (HSA) năm 2023 và kế hoạch triển khai năm 2024”.</p>
                      </article>
                      <article  class="i-lastest ng-star-inserted">
                        <h3  class="i-title">
                          <a  title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#" class="ng-star-inserted">
                            Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024 </a>
                        </h3>
                        <span class="i-date"> 25/08/2023, 15:56 </span>
                        <div  class="i-imgnews">
                          <a  title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#" class="ng-star-inserted">
                            <img catcherror="" lazyload="" class="img-fluid" alt="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" src="https://cet.vnu.edu.vn/gw/imageresize/unsafe/267x181/smart/cet.vnu.edu.vn/gw/file/v5/FileObject/public/255c8a68-b056-4acf-be46-8185c950017c/download"></a>
                          </div>
                          <p class="description-news">Sáng ngày 24 tháng 8 năm 2023, Trung tâm Khảo thí ĐHQGHN tổ chức Hội nghị “Tổng kết kỳ thi Đánh giá năng lực (HSA) năm 2023 và kế hoạch triển khai năm 2024”.</p>
                        </article>
                        <article  class="i-lastest ng-star-inserted">
                          <h3  class="i-title">
                            <a  title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#" class="ng-star-inserted">
                              Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024 </a>
                          </h3>
                          <span class="i-date"> 25/08/2023, 15:56 </span>
                          <div  class="i-imgnews">
                            <a  title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#" class="ng-star-inserted">
                              <img catcherror="" lazyload="" class="img-fluid" alt="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" src="https://cet.vnu.edu.vn/gw/imageresize/unsafe/267x181/smart/cet.vnu.edu.vn/gw/file/v5/FileObject/public/255c8a68-b056-4acf-be46-8185c950017c/download"></a>
                            </div>
                            <p class="description-news">Sáng ngày 24 tháng 8 năm 2023, Trung tâm Khảo thí ĐHQGHN tổ chức Hội nghị “Tổng kết kỳ thi Đánh giá năng lực (HSA) năm 2023 và kế hoạch triển khai năm 2024”.</p>
                          </article>
                          <article  class="i-lastest ng-star-inserted">
                            <h3  class="i-title">
                              <a  title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#" class="ng-star-inserted">
                                Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024 </a>
                            </h3>
                            <span class="i-date"> 25/08/2023, 15:56 </span>
                            <div  class="i-imgnews">
                              <a  title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#" class="ng-star-inserted">
                                <img catcherror="" lazyload="" class="img-fluid" alt="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" src="https://cet.vnu.edu.vn/gw/imageresize/unsafe/267x181/smart/cet.vnu.edu.vn/gw/file/v5/FileObject/public/255c8a68-b056-4acf-be46-8185c950017c/download"></a>
                              </div>
                              <p class="description-news">Sáng ngày 24 tháng 8 năm 2023, Trung tâm Khảo thí ĐHQGHN tổ chức Hội nghị “Tổng kết kỳ thi Đánh giá năng lực (HSA) năm 2023 và kế hoạch triển khai năm 2024”.</p>
                            </article>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <app-most-view></app-most-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

