<div class="container">
   <div class="wrap-intro">
      <div class="row">
         <div class="col-md-3">
            <div class="menu_left">
               <ul>
                  <li><a href="">Giới thiệu</a></li>
                  <li><a (click)="scrollToElement()">Cơ cấu tổ chức</a></li>                  <li><a href="">Chức năng và nhiệm vụ</a></li>
                  <li><a href="">Cơ sở vật chất</a></li>
               </ul>
            </div>
         </div>
         <div class="col-md-9">
            <div class="content">
               <div class="text-intro">
                  <h4>GIỚI THIỆU</h4>
                  <div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;"></div>
               </div>
               <div class="img-intro">
                  <img src="/assets/images/introduce/logo_chuan.jpg" alt="#" style="width: 300px;height: 300px;margin-left: 33%;">
               </div>
               <div class="name-intro">
                  <h5>1. Lịch sử</h5>
                  <p>Ngày 11 tháng 8 năm 2014, Giám đốc Đại học Quốc gia Hà Nội (ĐHQGHN) đã ký quyết định thành lập Trung tâm Khảo thí ĐHQGHN trực thuộc Viện Đảm bảo chất lượng đào tạo. Trung tâm hoạt động theo cơ chế đơn vị tự đảm bảo một phần kinh phí hoạt động thường xuyên, có tư cách pháp nhân, có con dấu và tài khoản riêng.</p>
                  <p>Ngày 21 tháng 7 năm 2016, Giám đốc ĐHQGHN đã ký quyết định nâng cấp Trung tâm Khảo thí ĐHQGHN thuộc Viện Đảm bảo chất lượng giáo dục thành Trung tâm Khảo thí ĐHQGHN trực thuộc ĐHQGHN.</p>
               </div>
               <div class="Descriptin-intro">
                  <h5>2. Mục tiêu phát triển</h5>
                  <p>Xây dựng và phát triển Trung tâm Khảo thí ĐHQGHN trở thành tổ chức hàng đầu của Việt Nam về đo lường đánh giá năng lực người học và người lao động của Việt Nam và của khu vực.</p>
               </div>
               <div class="content-intro">
                  <h5>3. Vị trí pháp lý</h5>
                  <p>Trung tâm Khảo thí ĐHQGHN là đơn vị phục vụ, dịch vụ trực thuộc ĐHQGHN; có tư cách pháp nhân, có con dấu và tài khoản riêng; được tổ chức và hoạt động theo cơ chế đơn vị tự đảm bảo một phần chi thường xuyên.</p>
               </div>
               <div class="contact-intro">
                  <h5>4. Thông tin liên hệ</h5>
                  <p>Tên tiếng Việt: Trung tâm Khảo thí Đại học Quốc gia Hà Nội.</p>
                  <p>Tên tiếng Anh: VNU – Center For Educational Testing.</p>
                  <p>Tên viết tắt tiếng Anh: VNU – CET.</p>
                  <p>Trụ sở: Tầng 8, tòa nhà C1T, số 144 đường Xuân Thủy, quận Cầu Giấy, TP. Hà Nội.</p>
                  <p>Điện thoại: (+84) – 24.366759258  /  (+84) – 24.362532740</p>
                  <p>Website:
                     <a href="http://www.cet.vnu.edu.vn">http://www.cet.vnu.edu.vn</a>
                  </p>
                  <p>Email:
                     <a href="mailto:trungtamkhaothi@vnu.edu.vn">trungtamkhaothi@vnu.edu.vn</a>
                  </p>
               </div>
               <div #cocau>
                <h5>dâsdsad</h5>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
