<div class="container-fluid">
   <div class="wrp-title">
      <div class="container">
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li aria-current="page" class="breadcrumb-item active">Giới thiệu</li>
            </ol>
         </nav>
      </div>
   </div>
   <div class="container">
      <div class="wrap-intro">
         <div class="row">
            <div class="col-md-3">
               <div class="menu_left">
                  <ul>
                     <li><a href="">Giới thiệu</a></li>
                     <li><a href="">Cơ cấu tổ chức</a></li>
                     <li><a href="">Chức năng và nhiệm vụ</a></li>
                     <li><a href="">Cơ sở vật chất</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-9">
               <div class="content">
                  <div class="img-intro">
                     <img src="/assets/images/Logo/logo-ttkt.png" alt="#">
                  </div>
                  <div class="name-intro">
                     <p>Name</p>
                  </div>
                  <div class="Descriptin-intro">
                     <p>description</p>
                  </div>
                  <div class="content-intro">
                     <p>content</p>
                  </div>
                  <div class="dated-intro">
                     <p>20/10/2020</p>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>
