<div class="container">
   <div class="wrap-intro">
      <div class="row">
         <div class="col-md-3">
            <div class="menu_left">
               <ul>
                  <li><a (click)="scrollToElement()">Giới thiệu</a></li>
                  <li><a (click)="scrollToElement1()">Cơ cấu tổ chức</a></li>
                  <li><a (click)="scrollToElement2()">Chức năng và nhiệm vụ</a></li>
                  <li><a (click)="scrollToElement3()">Cơ sở vật chất</a></li>

               </ul>
            </div>
         </div>
         <div class="col-md-9">
            <div #content>
               <div class="text-intro"style="margin-top: 30px;">
                  <h4>GIỚI THIỆU</h4>
                  <div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;"></div>
               </div>
               <div class="img-intro">
                  <img src="/assets/images/logo_chuan.jpg" alt="#" style="width: 300px;height: 300px;margin-left: 33%;">
               </div>
               <div class="name-intro">
                  <h5>1. Lịch sử</h5>
                  <p>Ngày 11 tháng 8 năm 2014, Giám đốc Đại học Quốc gia Hà Nội (ĐHQGHN) đã ký quyết định thành lập Trung tâm Khảo thí ĐHQGHN trực thuộc Viện Đảm bảo chất lượng đào tạo. Trung tâm hoạt động theo cơ chế đơn vị tự đảm bảo một phần kinh phí hoạt động thường xuyên, có tư cách pháp nhân, có con dấu và tài khoản riêng.</p>
                  <p>Ngày 21 tháng 7 năm 2016, Giám đốc ĐHQGHN đã ký quyết định nâng cấp Trung tâm Khảo thí ĐHQGHN thuộc Viện Đảm bảo chất lượng giáo dục thành Trung tâm Khảo thí ĐHQGHN trực thuộc ĐHQGHN.</p>
               </div>
               <div class="Descriptin-intro">
                  <h5>2. Mục tiêu phát triển</h5>
                  <p>Xây dựng và phát triển Trung tâm Khảo thí ĐHQGHN trở thành tổ chức hàng đầu của Việt Nam về đo lường đánh giá năng lực người học và người lao động của Việt Nam và của khu vực.</p>
               </div>
               <div class="content-intro">
                  <h5>3. Vị trí pháp lý</h5>
                  <p>Trung tâm Khảo thí ĐHQGHN là đơn vị phục vụ, dịch vụ trực thuộc ĐHQGHN; có tư cách pháp nhân, có con dấu và tài khoản riêng; được tổ chức và hoạt động theo cơ chế đơn vị tự đảm bảo một phần chi thường xuyên.</p>
               </div>
               <div class="contact-intro">
                  <h5>4. Thông tin liên hệ</h5>
                  <p>Tên tiếng Việt: Trung tâm Khảo thí Đại học Quốc gia Hà Nội.</p>
                  <p>Tên tiếng Anh: VNU – Center For Educational Testing.</p>
                  <p>Tên viết tắt tiếng Anh: VNU – CET.</p>
                  <p>Trụ sở: Tầng 8, tòa nhà C1T, số 144 đường Xuân Thủy, quận Cầu Giấy, TP. Hà Nội.</p>
                  <p>Điện thoại: (+84) – 24.366759258  /  (+84) – 24.362532740</p>
                  <p>Website:
                     <a href="http://www.cet.vnu.edu.vn">http://www.cet.vnu.edu.vn</a>
                  </p>
                  <p>Email:
                     <a href="mailto:trungtamkhaothi@vnu.edu.vn">trungtamkhaothi@vnu.edu.vn</a>
                  </p>
               </div>
            </div>
            <hr style="margin: 40px 0px;">
            <div #cocau>
               <div class="text-intro"style="margin-top: 30px;">
                  <h4>CƠ CẤU TỔ CHỨC</h4>
                  <div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;"></div>
               </div>
               <div class="img-intro">
                  <h5 style="text-decoration: underline;margin-left: 40%;">SƠ ĐỒ TỔ CHỨC</h5>
                  <img src="assets/images/so_do_to_chuc.jpg" alt="#" style="width: 500px;height: 250px;margin-left: 20%;">
               </div>
               <div class="name-intro">
                  <h5>Phân công cụ thể của Ban Giám đốc Trung tâm Khảo thí ĐHQGHN tại Quyết định số 503/QĐ-TTKT ngày 17 tháng 08 năm 2022 về việc phân công công tác của Giám đốc và Phó Giám đốc Trung tâm Khảo thí Đại học Quốc gia Hà Nội</h5>
                  <h5>1. Giám đốc Nguyễn Tiến Thảo</h5>
                  <p>a) Lãnh đạo, quản lý toàn diện mọi hoạt động thuộc chức năng, nhiệm vụ, quyền hạn của Trung tâm Khảo thí và theo Quy định chức năng nhiệm vụ, và các văn bản quy phạm pháp luật khác có liên quan.</p>
                  <p>b) Trực tiếp chỉ đạo các lĩnh vực: Chiến lược, quy hoạch, kế hoạch phát triển Trung tâm; Tổ chức cán bộ; Hợp tác phát triển; Truyền thông; Thi đua khen thưởng; Tài chính; Nghiên cứu khoa học; Các kỳ thi đánh giá năng lực; Học phần chung; Cơ sở vật chất.</p>
                  <p>c) Trực tiếp phụ trách các phòng: Hành chính - Tổng hợp, Nghiên cứu và Xây dựng Công cụ đánh giá, Kỹ thuật.</p>
                  <p>d) Là chủ tài khoản của Trung tâm.</p>
                  <p>đ) Thực hiện các nhiệm vụ khác do Đại học Quốc gia Hà Nội, Giám đốc ĐHQGHN phân công.</p>
               </div>
               <div class="Descriptin-intro">
                  <h5>2. Phó Giám đốc Vương Thị Phương Thảo</h5>
                  <p>a) Phụ trách các lĩnh vực: Công tác đoàn thể; Tổ chức thi sau đại học; Tổ chức hội thảo khoa học; Đào tạo các chương trình đào tạo ngắn hạn cấp chứng chỉ/chứng nhận; Nghiên cứu phát triển các công cụ kiểm tra đánh giá; Các hoạt động dịch vụ; Công tác Thanh tra – Pháp chế; Hoạt động tài chính thường xuyên (điện sinh hoạt, điện thoại cố định/internet, dịch vụ chung của tòa nhà; văn phòng phẩm, máy in, mực in, máy photop, ký kết các hợp đồng thuê sử dụng cơ sở vật chất của Trung tâm), Xây dựng câu hỏi thi, kiểm tra đánh giá.</p>
                  <p>b) Phụ trách công tác Đoàn thể của Trung tâm.</p>
                  <p>c) Phụ trách phòng Đánh giá và Chứng nhận kết quả.</p>
                  <p>d) Thực hiện các nhiệm vụ khác theo sự phân công của Giám đốc Trung tâm.</p>
               </div>
               <div class="content-intro">
                  <h5>DANH SÁCH CÁN BỘ, LÃNH ĐẠO</h5>
                  <table>
                     <thead>
                        <tr>
                           <td>STT</td>
                           <td>HỌ VÀ TÊN</td>
                           <td>CHỨC VỤ</td>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td colspan="3">PHÒNG HÀNH CHÍNH - TỔNG HỢP</td>
                        </tr>
                        <tr>
                           <td>1</td>
                           <td>TS. HOÀNG ĐĂNG TRỊ</td>
                           <td>Phó Trưởng phòng phụ trách</td>
                        </tr>
                        <tr>
                           <td>2</td>
                           <td>ThS. Nguyễn Văn Việt</td>
                           <td>Phó Trưởng phòng</td>
                        </tr>
                        <tr>
                           <td colspan="3">Phòng Nghiên cứu và Xây dựng công cụ đánh giá</td>
                        </tr>
                        <tr>
                           <td>3</td>
                           <td>ThS. Nguyễn Văn Dũng</td>
                           <td>Trưởng phòng</td>
                        </tr>
                        <tr>
                           <td colspan="3">Phòng Kỹ thuật</td>
                        </tr>
                        <tr>
                           <td>4</td>
                           <td>ThS. Nguyễn Danh Quảng</td>
                           <td>Trưởng phòng</td>
                        </tr>
                        <tr>
                           <td colspan="3">Phòng Đánh giá và Chứng nhận kết quả</td>
                        </tr>
                        <tr>
                           <td>5</td>
                           <td>Phạm Hương Thảo</td>
                           <td>Trưởng phòng</td>
                        </tr>
                     </tbody>
                  </table>

               </div>

            </div>
            <hr style="margin:40px 0px;">
            <div #chucnang>
               <div class="text-intro"style="margin-top: 30px;">
                  <h4>CHỨC NĂNG VÀ NHIỆM VỤ</h4>
                  <div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;"></div>
               </div>

               <div class="content-intro">
                  <h5 style="text-decoration: underline;">Chức năng</h5>
                  <p>Thiết kế, xây dựng, phát triển các bộ công cụ khảo thí, các ngân hàng câu hỏi thi và tổ chức các đợt thi đánh giá năng lực (ĐGNL) người học hoặc ứng viên phục vụ công tác tuyển chọn, tuyển sinh và đánh giá kết quả đào tạo theo kế hoạch và chỉ đạo của ĐHQGHN.</p>
                  <p>Tổ chức các hoạt động nghiên cứu, bồi dưỡng và chuyển giao công nghệ trong lĩnh vực khảo thí; cung cấp dịch vụ khoa học và công nghệ (KH&CN) thuộc lĩnh vực khảo thí, kiểm tra, đánh giá, phát triển các bộ công cụ khảo thí trong giáo dục.</p>
                  <h5 style="text-decoration: underline;">Nhiệm vụ</h5>
                  <p>Tổ chức xây dựng ngân hàng câu hỏi thi chuẩn hoá ĐGNL các ứng viên phục vụ tuyển chọn, tuyển sinh vào đại học, sau đại học (ĐH, SĐH) của ĐHQGHN và cho các cơ sở GDĐH, các tổ chức hợp pháp khác ở trong nước và nước ngoài khi có nhu cầu.</p>
                  <p>Tổ chức các đợt thi ĐGNL và cấp chứng nhận kết quả cho các ứng viên phục vụ việc tuyển chọn, tuyển sinh vào ĐH, SĐH của ĐHQGHN và cho các cơ sở GDĐH, các tổ chức hợp pháp khác ở trong nước khi có nhu cầu.</p>
                  <p>Thực hiện các hoạt động nghiên cứu và chuyển giao công nghệ liên quan đến hoạt động khảo thí và ĐGNL; cung cấp các dịch vụ KH&CN thuộc lĩnh vực khảo thí, phát triển các bộ công cụ khảo thí.</p>
                  <p>Tổ chức xây dựng các đề thi chuẩn hóa ĐGNL và tổ chức các kỳ thi ĐGNL chuyên biệt cho các ứng viên tham gia tuyển chọn vào ĐH, SĐH của ĐHQGHN và các cơ sở GDĐH, các tổ chức hợp pháp khác ở trong nước và nước ngoài khi có nhu cầu.</p>
                  <p>Tổ chức các khoá bồi dưỡng chuyên môn, nghiệp vụ, chuyển giao công nghệ và cấp chứng chỉ về khảo thí và ĐGNL; tổ chức xây dựng đề thi chuẩn hóa theo nhu cầu xã hội cho các bậc học.</p>
                  <p>Tổ chức các hoạt động quảng bá, giới thiệu về bài thi, kỳ thi ĐGNL và các hoạt động khảo thí khác để góp phần nâng cao thu hút thí sinh và sự quan tâm của cộng đồng đối với các ngành đào tạo và hoạt động đào tạo của ĐHQGHN</p>
                  <p>Thực hiện các nhiệm vụ khác do Giám đốc ĐHQGHN giao.</p>
                  <h4 style="text-decoration: underline;">CÁC PHÒNG BAN TRUNG TÂM KHẢO THÍ</h4>
                  <h5 style="text-decoration: underline;">1. Phòng Hành chính - Tổng hợp</h5>
                  <h5 style="text-decoration: underline;">1.1 Chức năng</h5>
                  <p>Tham mưu và giúp việc cho Giám đốc điều hành các mảng công tác sau đây:</p>
                  <p>
                     - Công tác hành chính, tổng hợp;</p>
                  <p>
                     - Công tác tổ chức cán bộ;</p>
                  <p>
                     - Công tác chính trị - tư tưởng; thi đua – khen thưởng;</p>
                  <p>
                     - Công tác kế hoạch, tài chính, kế toán và quản lý, sử dụng cơ sở vật chất;</p>
                  <p>
                     - Công tác thông tin – truyền thông, quản trị thương hiệu;</p>
                  <p>
                     - Công tác hợp tác và phát triển;</p>
                  <p>
                     - Công tác thanh tra và pháp chế.</p>
                  <h5 style="text-decoration: underline;">1.2 Nhiệm vụ</h5>
                  <p>
                     Thực hiện các nhiệm vụ liên quan đến công tác Hành chính, tổng hợp; tổ chức cán bộ; Chính trị tư tưởng, thi đua khen thưởng; Kế hoạch, tài chính, kế toán và quản lý, sử dụng cơ sở vật chất; Thông tin – truyền thông, quản trị thương hiệu; Hợp tác và phát triển; Thanh tra và Pháp chế và thực hiện các nhiệm vụ khác do Giám đốc phân công.</p>
                  <h5 style="text-decoration: underline;">2. Phòng Nghiên cứu và Xây dựng công cụ đánh giá</h5>
                  <h5 style="text-decoration: underline;">2.1 Chức năng</h5>
                  <p>
                     Tham mưu cho Giám đốc trong ban hành các quy định, kế hoạch nghiên cứu trong lĩnh vực khảo thí và tổ chức xây dựng các bộ công cụ đánh giá phục vụ tuyển sinh, khảo thí trong giáo dục, đánh giá năng lực của sinh viên tốt nghiệp và các bộ công cụ đánh giá khác theo đặt hàng của các tổ chức, cá nhân hợp pháp.</p>
                  <h5 style="text-decoration: underline;">2.2 Nhiệm vụ</h5>
                  <p>
                     - Nghiên cứu và triển khai các lý thuyết khảo thí hiện đại trong đánh giá năng lực người học và đánh giá năng lực người lao động.</p>
                  <p>
                     - Phát triển các công cụ đánh giá của quốc tế cho phù hợp với hoàn cảnh thực tế của Việt Nam.</p>
                  <p>
                     - Nghiên cứu và triển khai các công cụ đánh giá mới đáp ứng nhu cầu xã hội và phù hợp với sứ mệnh, chiến lược phát triển của Trung tâm.</p>
                  <p>
                     - Tổ chức và quản lý các đề tài/dự án nghiên cứu khoa học của Trung tâm.</p>
                  <p>
                     - Xây dựng và quản lý các bộ ngân hàng câu hỏi chuẩn hóa phục vụ đánh giá năng lực học sinh phổ thông và đánh giá chất lượng giáo dục phổ thông.</p>
                  <p>
                     - Xây dựng và quản lý ngân hàng câu hỏi chuẩn hóa phục vụ đánh giá năng lực nghề nghiệp của sinh viên tốt nghiệp.</p>
                  <p>
                     - Xây dựng bài thi thử của các bộ công cụ đánh giá của Trung tâm và cung cấp dịch vụ tư vấn bằng báo cáo phân  tích kết quả làm bài thi thử.</p>
                  <p>
                     - Triển khai các hoạt động chuyển giao công nghệ về khảo thí, về xây dựng công cụ đánh giá năng lực cho các đơn vị thành viên/trực thuộc ĐHQGHN và các đơn vị/tổ chức ngoài ĐHQGHN có nhu cầu.</p>
                  <p>
                     - Thực hiện các nhiệm vụ khác do Giám đốc phân công.</p>
                  <h5 style="text-decoration: underline;">3 Phòng Đánh giá và Chứng nhận kết quả</h5>
                  <h5 style="text-decoration: underline;">3.1 Chức năng</h5>
                  <p>Tham mưu cho Giám đốc trong việc đề xuất với ĐHQGHN ban hành quy chế và các quy định, hướng dẫn về hoạt động đánh giá năng lực người học hoặc ứng viên; chứng nhận kết quả phục vụ công tác tuyển chọn, tuyển sinh và đánh giá kết quả đào tạo; tổ chức các hoạt động đánh giá năng lực theo yêu cầu của ĐHQGHN và các hoạt động đánh giá năng lực người học, người lao động theo nhu cầu của các tổ chức, đơn vị ngoài ĐHQGHN.</p>
                  <h5 style="text-decoration: underline;">3.2 Nhiệm vụ</h5>
                  <p>
                     - Chuẩn bị cho Giám đốc các đề xuất ĐHQGHN trong việc ban hành quy chế, quy định và hướng dẫn về hoạt động đánh giá năng lực và chứng nhận kết quả đánh giá ở ĐHQGHN.</p>
                  <p>
                     - Đề xuất Giám đốc ban hành các quy định, hướng dẫn về hoạt động đánh giá năng lực và chứng nhận kết quả đánh giá của Trung tâm theo đúng quy định của pháp luật, Bộ GDĐT và ĐHQGHN.</p>
                  <p>
                     - Xây dựng kế hoạch tổ chức các hoạt động đánh giá năng lực và chứng nhận kết quả đánh giá theo năm học.</p>
                  <p>
                     - Tổ chức các hoạt động đánh giá và chứng nhận kết quả, bao gồm các hoạt động đánh giá thử nghiệm, truyền thông; đăng kỳ dự thi; tổ chức đánh giá và công bố, chứng nhận kết quả đánh giá.</p>
                  <p>
                     - Quản lý, lưu trữ hồ sơ các hoạt động đánh giá và chứng nhận kết quả theo quy định của ĐHQGHN và Trung tâm.</p>
                  <p>
                     - Lập báo cáo thống kê dữ liệu của các hoạt động đánh giá theo quy định của Trung tâm và yêu cầu cụ thể của Giám đốc, phục vụ công tác tổng kết hoạt động đánh giá và nghiên cứu khoa học.</p>
                  <p>
                     - Nghiên cứu, đề xuất với Giám đốc các giải pháp nhằm cải tiến hoạt động đánh giá năng lực theo xu hướng hiện đại và hội nhập quốc tế.</p>
                  <p>
                     - Thực hiện các nhiệm vụ khác do Giám đốc phân công.</p>
                  <h5 style="text-decoration: underline;">4. Phòng Kỹ thuật</h5>
                  <h5 style="text-decoration: underline;">4.1 Chức năng</h5>
                  <p>
                     Tham mưu cho Giám đốc ban hành các quy định về xây dựng, vận hành và phát triển hệ thống kỹ thuật phục vụ hoạt động nghiên cứu và xây dựng công cụ đánh giá, tổ chức đánh giá và chứng nhận kết quả của Trung tâm; ban hành các bộ tiêu chuẩn kỹ thuật của hệ thống kỹ thuật, an ninh hệ thống và an toàn thông tin, quy trình nghiệp vụ và khung năng lực của nhân lực tại các vị trí vận hành hệ thống; đề xuất ĐHQGHN phê duyệt các phương án đầu tư nâng cấp, phát triển hệ thống kỹ thuật phục vụ hoạt động đánh giá và công tác quản lý, điều hành của Trung tâm hoặc do Giám đốc trực tiếp phê duyệt theo phân cấp quản lý.</p>
                  <p>Xây dựng và phát triển các hệ thống kỹ thuật phục vụ hoạt động đánh giá (bao gồm cả phần cứng và phần mềm) phù hợp với quy chế, quy định của ĐHQGHN và của ĐHQGHN và Trung tâm trong tổ chức hoạt động đánh giá và trực tiếp tham gia tổ chức các hoạt động đánh giá của Trung tâm với vai trò đảm bảo vận hành hệ thống kỹ thuật.</p>
                  <h5 style="text-decoration: underline;">4.2 Nhiệm vụ</h5>
                  <p>- Đề xuất Giám đốc ban hành các quy định về xây dựng, vận hành và phát triển hệ thống kỹ thuật phục vụ nghiên cứu và xây dựng công cụ đánh giá, tổ chức đánh giá và chứng nhận kết quả của Trung tâm.</p>
                  <p>
                     - Đề xuất Giám đốc ban hành các bộ tiêu chuẩn của hệ thống kỹ thuật, an ninh hệ thống và an toàn thông tin, quy trình nghiệp vụ và khung năng lực của nhân lực tại các vị trí vận hành hệ thống.</p>
                  <p>
                     - Đề xuất Giám đốc phê duyệt các phương án đầu tư nâng cấp, phát triển hệ thống kỹ thuật phục vụ hoạt động đánh giá và công tác quản lý, điều hành của Trung tâm; giải pháp thực hiện quy định của pháp luật về quy chuẩn kỹ thuật quốc gia liên quan đến nơi làm việc.</p>
                  <p>
                     - Quản lý và làm đầu mối tổ chức thực hiện các hoạt động nâng cấp, phát triển hệ thống kỹ thuật phục vụ hoạt động đánh giá và công tác quản lý, điều hành của Trung tâm; vận hành hệ thống kỹ thuật trong các hoạt động đánh giá và chứng nhận kết quả của Trung tâm; thực hiện các hợp đồng về chuyển giao công nghệ và phần mềm trong lĩnh vực khảo thí, tuyển sinh, đào tạo…; thiết kế website, cổng thông tin, ứng dựng và phần mềm; tư vấn, kiểm tra và khắc phục hậu quả sự cố CNTT; tư vấn thiết kế mạng, mô hình mạng của các tổ chức.</p>
                  <p>
                     - Quản lý, bảo trì hệ thống mạng nội bộ, các phần mềm, máy chủ và thiết bị đi kèm, máy tính khác của Trung tâm.</p>
                  <p>
                     - Quản lý, đăng ký, gia hạn, khắc phục sự cố, sao lưu, phục hồi các vấn đề liên quan đến domain và hosting, email của Trung tâm.</p>
                  <p>
                     - Giám sát việc cung cấp thông tin về kỹ thuật và công nghệ ra bên ngoài của Trung tâm; đảm bảo nguyên tắc bảo mật theo quy định của Trung tâm.</p>
                  <p>
                     - Làm đầu mối thực hiện các hợp đồng về tạo mới, duy trì, chỉnh sửa về mặt hệ thống, công nghệ cho đối tác từ khi đăng ký dự thi đến xét tuyển.</p>
                  <p>
                     - Phối hợp với phòng Hành chính – Tổng hợp trong việc tổ chức đào tạo, tập huấn nhân lực kỹ thuật phục vụ hoạt động đánh giá của Trung tâm.</p>
                  <p>
                     - Thực hiện các nhiệm vụ khác do Giám đốc phân công.</p>
               </div>

            </div>
            <hr style="margin: 40px 0px;">
            <div #cosovatchat>
               <div class="text-intro" style="margin-top: 30px;">
                  <h4>CƠ SỞ VẬT CHẤT</h4>
                  <div style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;"></div>
               </div>

               <div class="name-intro">
                  <p>Trung tâm Khảo thí Đại học Quốc gia Hà Nội được thành lập từ năm 2014. Trong các năm qua, Trung tâm được giao thực hiện các nhiệm vụ liên quan đến : (i) công tác thiết kế, xây dựng, phát triển các bộ công cụ khảo thí, các ngân hàng câu hỏi thi và tổ chức các đợt thi đánh giá năng lực (ĐGNL) người học phục vụ công tác tuyển chọn, tuyển sinh và đánh giá kết quả đào tạo theo kế hoạch và chỉ đạo của ĐHQGHN; (ii) Tổ chức xây dựng các đề thi chuẩn hóa ĐGNL và tổ chức các kỳ thi ĐGNL chuyên biệt cho các ứng viên tham gia tuyển chọn vào ĐH, SĐH của ĐHQGHN và các cơ sở GDĐH.</p>
                  <p>Với sự quan tâm, chỉ đạo sát sao của Ban Giám đốc ĐHQGHN; đội ngũ nhân sự có năng lực, tràn đầy nhiệt huyết, kinh nghiệm, và hệ thống cơ sở vật chất hiện đại, Trung tâm đã chủ trì thực hiện thành công các kì thi đánh giá năng lực tuyển sinh bậc đại học chính quy, sau đại học các năm 2015, 2016 và đang tiếp tục thực hiện kế hoạch triển khai tổ chức thi sau đại học theo phương thức ĐGNL và một số nhiệm vụ khác được giao.</p>
                  <p>Trung tâm Khảo thí Đại học Quốc gia Hà Nội được thành lập từ năm 2014. Trong các năm qua, Trung tâm được giao thực hiện các nhiệm vụ liên quan đến : (i) công tác thiết kế, xây dựng, phát triển các bộ công cụ khảo thí, các ngân hàng câu hỏi thi và tổ chức các đợt thi đánh giá năng lực (ĐGNL) người học phục vụ công tác tuyển chọn, tuyển sinh và đánh giá kết quả đào tạo theo kế hoạch và chỉ đạo của ĐHQGHN; (ii) Tổ chức xây dựng các đề thi chuẩn hóa ĐGNL và tổ chức các kỳ thi ĐGNL chuyên biệt cho các ứng viên tham gia tuyển chọn vào ĐH, SĐH của ĐHQGHN và các cơ sở GDĐH.
                  </p>

                  <p>Với sự quan tâm, chỉ đạo sát sao của Ban Giám đốc ĐHQGHN; đội ngũ nhân sự có năng lực, tràn đầy nhiệt huyết, kinh nghiệm, và hệ thống cơ sở vật chất hiện đại, Trung tâm đã chủ trì thực hiện thành công các kì thi đánh giá năng lực tuyển sinh bậc đại học chính quy, sau đại học các năm 2015, 2016 và đang tiếp tục thực hiện kế hoạch triển khai tổ chức thi sau đại học theo phương thức ĐGNL và một số nhiệm vụ khác được giao.</p>

                  <p>Đặc biệt, với sở vật chất hiện đại gồm:</p>

                  <p>- 8 chiếc Máy chủ Model:  Dell PowerEdge R730</p>

                  <p>
                     - 03 phòng máy tính với 320 bộ Máy tính PC cấu hình cao</p>
                  <p>
                     Dưới với sự vận hành của các kỹ thuật viên trình độ cao, nhiều kinh nghiệm đã cho phép Trung tâm Khảo thí ĐHQGHN mở rộng cơ hội hợp tác cùng các đơn vị trong và ngoài ĐHQGHN trong việc điều phối và hỗ trợ sử dụng các phòng máy để tổ chức các kì thi tiên tiến trên máy tính. Việc hợp tác này đã và đang được thực hiện thường xuyên trong thời gian qua, có thể kể đến một số hoạt động hợp tác sau: Phối hợp với Đại học Công nghệ trong tổ chức thi tin học cho cán bộ; Học viện Anh ngữ EQuest tổ chức cuộc thi English Champion 2017 vòng 2 cho các thí sinh từ lớp 4 đến lớp 8; Điều phối và hỗ trợ triển khai kỹ thuật cho chương trình Sam sung Software Chalênge – Thử thách sáng tạo cùng Sam sung Việt Nam 2016…</p>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>
