<div class="most-view" >
  <div class="news-noti">
    <div class="title-noti">
      <img  src="assets/images/exams/loa-tbao.png" class="img-fluid">
      <span >Thông báo</span>
    </div>
    <ul>
      <li  class="nav-item ng-star-inserted">
        <a  class="nav-link" title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#">
          <span >Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024
            <img src="assets/images/exams/icon_new.gif" width="31px" height="15px" border="0">
          </span>
        </a>
      </li>
      <li  class="nav-item ng-star-inserted">
        <a  class="nav-link" title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#">
          <span >Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024
            <img src="assets/images/exams/icon_new.gif" width="31px" height="15px" border="0">
          </span>
        </a>
      </li>
      <li  class="nav-item ng-star-inserted">
        <a  class="nav-link" title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#">
          <span >Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024
            <img src="assets/images/exams/icon_new.gif" width="31px" height="15px" border="0">
          </span>
        </a>
      </li>
      <li  class="nav-item ng-star-inserted">
        <a  class="nav-link" title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#">
          <span >Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024
            <img src="assets/images/exams/icon_new.gif" width="31px" height="15px" border="0">
          </span>
        </a>
      </li>
      <li  class="nav-item ng-star-inserted">
        <a  class="nav-link" title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#">
          <span >Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024
            <img src="assets/images/exams/icon_new.gif" width="31px" height="15px" border="0">
          </span>
        </a>
      </li>
      <li  class="nav-item ng-star-inserted">
        <a  class="nav-link" title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#">
          <span >Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024
            <img src="assets/images/exams/icon_new.gif" width="31px" height="15px" border="0">
          </span>
        </a>
      </li>
    </ul>
    <a  href="#" class="see-more" style="    font-family: Googlesans-Italic;font-size: 15px; color: #1a9547;padding: 10px 0 20px 50px;display: block;font-style: italic;text-decoration: none;font-weight: 550;"> Xem thêm <i  class="fas fa-arrow-right"></i></a>
  </div>
</div>
