.carousel-inner img {
  width: 100%;
  height: 680px;
}

.title a:hover{
  text-decoration: none;
  font-family: GoogleSans-Italic;
    color: #1a9547;
    display: inline-block;
    position: relative;
}

