<app-slide-show></app-slide-show>

<div class="posContainer">
  <section class="introduction">
    <div class="container">
      <div class="title">
        <h3 style="font-family: Oswald-SemiBold;font-size: 54px;color: #c5161c;text-transform: uppercase;font-weight: bold;">
          Khảo thí
        </h3>
        <div style="margin-left: 80px;">
          <p style="font-family: Merriweather-Light;font-size: 14px;color: #181818; margin-bottom: 5px;">
             Thiết kế, xây dựng, phát triển các bộ công cụ khảo thí, các ngân hàng câu hỏi thi và tổ chức các đợt thi đánh giá năng lực (ĐGNL) người học hoặc ứng viên phục vụ công tác tuyển chọn, tuyển sinh và đánh giá kết quả đào tạo theo kế hoạch và chỉ đạo của ĐHQGHN.
          </p>
          <a  title="Xem chi tiết"  href="#" style="text-decoration: none;font-family: GoogleSans-Italic;color: #1a9547;display: inline-block; position: relative;">
             Xem chi tiết
          </a>
        </div>
      </div>
      <div class="wrp-intro">
        <a href="#"class="block-intro">
          <div class="grid-item">
            <img src="assets/images/gird-item/download.png" alt="#lỗi">
            <span class="text">Đăng ký thi</span>
          </div>
      </a>
      <a href="#"class="block-intro">
        <div class="grid-item">
          <img src="assets/images/gird-item/download (1).png" alt="#lỗi">
          <span class="text">Văn bản hướng dẫn</span>
        </div>
      </a>
      <a href="#"class="block-intro">
        <div class="grid-item">
          <img src="assets/images/gird-item/download (2).png" alt="#lỗi">
          <span class="text">Đề thi tham khảo	</span>
        </div>
      </a>
      <a href="#"class="block-intro">
        <div class="grid-item">
          <img src="assets/images/gird-item/download (3).png" alt="#lỗi">
          <span class="text">Tập huấn khảo thí</span>
        </div>
      </a>
      <a href="#"class="block-intro">
        <div class="grid-item">
          <img src="assets/images/gird-item/download (4).png" alt="#lỗi">
          <span class="text">Hỗ trợ sinh viên</span>
        </div>
      </a>
      </div>
    </div>
  </section>
</div>

<!-- Exams -->
<section class="exams">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="posContainer">
          <div class="title-ttkt">
            <h3 >Các bài thi</h3>
          </div>
          <div class="menu-list">
            <div class="menu-item">
              <a  href="#" title="Đánh giá năng lực" class="i-img">
                <img  catcherror="" lazyload="" src="assets/images/exams/cat-danh-gia-nang-luc.png" class="img-fluid">
              </a>
              <a  href="#" title="Đánh giá năng lực" class="title">
                <span >Đánh giá năng lực</span>
              </a>
            </div>
            <div class="menu-item">
              <a  href="#" title="Đánh giá năng lực" class="i-img">
                <img  catcherror="" lazyload="" src="assets/images/exams/cat-sau-dai-hoc.png" class="img-fluid">
              </a>
              <a  href="#" title="Đánh giá năng lực" class="title">
                <span >Sau đại học</span>
              </a>
            </div>
            <div class="menu-item">
              <a  href="#" title="Đánh giá năng lực" class="i-img">
                <img  catcherror="" lazyload="" src="assets/images/exams/cat-trung-hoc-co-so.png" class="img-fluid">
              </a>
              <a  href="#" title="Đánh giá năng lực" class="title">
                <span >Trung học cơ sở</span>
              </a>
            </div>
            <div class="menu-item">
              <a  href="#" title="Đánh giá năng lực" class="i-img">
                <img  catcherror="" lazyload="" src="assets/images/exams/cat-tieng-anh.png" class="img-fluid">
              </a>
              <a  href="#" title="Đánh giá năng lực" class="title">
                <span >Tiếng anh</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="posContainer">
          <div class="news-noti">
            <div class="title-noti">
              <img  src="assets/images/exams/loa-tbao.png" class="img-fluid">
              <span >Thông báo</span>
            </div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a  class="nav-link" title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="#">
                  <span >Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024
                    <img _ngcontent-serverapp-c134="" src="assets/images/exams/icon_new.gif" width="31px" height="15px" border="0">
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" title=" Trường Đại học Hà Tĩnh chính thức trở thành điểm thi Đánh giá năng lực (HSA) năm 2024" href="#">
                  <span > Trường Đại học Hà Tĩnh chính thức trở thành điểm thi Đánh giá năng lực (HSA) năm 2024
                    <img _ngcontent-serverapp-c134="" src="assets/images/exams/icon_new.gif" width="31px" height="15px" border="0">
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" title=" Trung tâm Khảo thí Đại học Quốc gia Hà Nội ký thỏa thuận hợp tác với Trường Đại học Thái Bình" href="#">
                  <span > Trung tâm Khảo thí Đại học Quốc gia Hà Nội ký thỏa thuận hợp tác với Trường Đại học Thái Bình
                    <img _ngcontent-serverapp-c134="" src="assets/images/exams/icon_new.gif" width="31px" height="15px" border="0">
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" title=" Diễn đàn chia sẻ kinh nghiệm kỳ thi Đánh giá năng lực của hai đại học quốc gia" href="#">
                  <span > Diễn đàn chia sẻ kinh nghiệm kỳ thi Đánh giá năng lực của hai đại học quốc gia
                    <img _ngcontent-serverapp-c134="" src="assets/images/exams/icon_new.gif" width="31px" height="15px" border="0">
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" title=" Thông báo tuyển dụng lao động hợp đồng đợt 2 năm 2023 " href="#">
                  <span > Thông báo tuyển dụng lao động hợp đồng đợt 2 năm 2023
                    <img _ngcontent-serverapp-c134="" src="assets/images/exams/icon_new.gif" width="31px" height="15px" border="0">
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" title=" Phổ điểm kỳ thi Đánh giá năng lực (HSA) năm 2023" href="#">
                  <span > Phổ điểm kỳ thi Đánh giá năng lực (HSA) năm 2023
                    <img _ngcontent-serverapp-c134="" src="assets/images/exams/icon_new.gif" width="31px" height="15px" border="0">
                  </span>
                </a>
              </li>
            </ul>
            <a  href="#" class="see-more">
               Xem thêm
              <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End-exams -->

<!-- Event -->
<div class="posContainer">
  <section class="main-news">
    <div class="container">
      <div class="title-ttkt">
        <h3>Sự kiện</h3>
      </div>
      <div class="ng-star-inserted">
        <div class="slideshow">
          <div class="row">
            <div class="col-md-4 col-12">
              <div class="owl-item">
                <div class="wrp-shadow">
                  <div class="slide">
                    <a class="i-img" title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="/chi-tiet" >
                      <img src="assets/images/event/1.jfif" alt="#lỗi">
                    </a>
                    <div class="article-title">
                      <p class="release-date">
                        <i  class="far fa-calendar-alt"></i>
                        <span> 31/05/2023, 09:45 </span>
                      </p>
                      <a class="article-name" title="Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="/chi-tiet">
                        Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024
                      </a>
                      <a  class="see-detail" title=" Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024" href="/chi-tiet">
                        Xem chi tiết
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="owl-item">
                <div class="wrp-shadow">
                  <div class="slide">
                    <a class="i-img" title=" Trường Đại học Hà Tĩnh chính thức trở thành điểm thi Đánh giá năng lực (HSA) năm 2024" href="#" >
                      <img src="assets/images/event/2.jfif" alt="#lỗi">
                    </a>
                    <div class="article-title">
                      <p class="release-date">
                        <i  class="far fa-calendar-alt"></i>
                        <span> 31/05/2023, 09:45 </span>
                      </p>
                      <a class="article-name" title="  Trường Đại học Hà Tĩnh chính thức trở thành điểm thi Đánh giá năng lực (HSA) năm 2024" href="#">
                        Trường Đại học Hà Tĩnh chính thức trở thành điểm thi Đánh giá năng lực (HSA) năm 2024
                      </a>
                      <a  class="see-detail" title=" Trường Đại học Hà Tĩnh chính thức trở thành điểm thi Đánh giá năng lực (HSA) năm 2024" href="#">
                        Xem chi tiết
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="owl-item">
                <div class="wrp-shadow">
                  <div class="slide">
                    <a class="i-img" title=" Trung tâm Khảo thí Đại học Quốc gia Hà Nội ký thỏa thuận hợp tác với Trường Đại học Thái Bình" href="#" >
                      <img src="assets/images/event/3.jfif" alt="#lỗi">
                    </a>
                    <div class="article-title">
                      <p class="release-date">
                        <i  class="far fa-calendar-alt"></i>
                        <span> 31/05/2023, 09:45 </span>
                      </p>
                      <a class="article-name" title="  Trung tâm Khảo thí Đại học Quốc gia Hà Nội ký thỏa thuận hợp tác với Trường Đại học Thái Bình" href="#">
                        Trung tâm Khảo thí Đại học Quốc gia Hà Nội ký thỏa thuận hợp tác với Trường Đại học Thái Bình
                      </a>
                      <a  class="see-detail" title=" Trung tâm Khảo thí Đại học Quốc gia Hà Nội ký thỏa thuận hợp tác với Trường Đại học Thái Bình" href="#">
                        Xem chi tiết
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- End-event -->

<!-- News-edu -->
<div class="posContainer">
  <section class="general-news">
    <div class="container">
      <div class="title-ttkt">
        <h3>Tin giáo dục</h3>
      </div>
      <div class="news-activity">
        <div class="row">
          <div class="col-md-4">
            <div class="block-activity">
              <a href="#" class="x-img">
                <img src="assets/images/News-edu/1.jfif" alt="#lỗi">
              </a>
              <div class="information ">
                <a href="#"> Tổng kết kỳ thi Đánh giá năng lực năm 2023 và kế hoạch triển khai năm 2024 </a>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="box-edu">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="left-edu">
                        <div class="edu-img">
                          <img src="assets/images/News-edu/2.jfif" alt="">
                        </div>
                        <div class="edu-text">
                          <p>
                            <i class="far fa-calendar-alt"></i>
                            <span> 17/08/2023, 13:38 </span>
                          </p>
                          <p style="font-size: 14px;color: #333;font-weight: 550;">
                            <a href="#" class="txt-edu">Trường Đại học Hà Tĩnh chính thức trở thành điểm thi Đánh giá năng lực (HSA) năm 2024</a>
                          </p>
                          <p>
                            <a href="#" class="btn-edu">Xem chi tiết</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="left-edu">
                        <div class="edu-img">
                          <img src="assets/images/News-edu/3.jfif" alt="">
                        </div>
                        <div class="edu-text">
                          <p>
                            <i class="far fa-calendar-alt"></i>
                            <span> 17/08/2023, 13:38 </span>
                          </p>
                          <p style="font-size: 14px;color: #333;font-weight: 550;">
                            <a href="#" class="txt-edu">Trường Đại học Hà Tĩnh chính thức trở thành điểm thi Đánh giá năng lực (HSA) năm 2024</a>
                          </p>
                          <p>
                            <a href="#" class="btn-edu">Xem chi tiết</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="left-edu">
                        <div class="edu-img">
                          <img src="assets/images/News-edu/4.jfif" alt="">
                        </div>
                        <div class="edu-text">
                          <p>
                            <i class="far fa-calendar-alt"></i>
                            <span> 17/08/2023, 13:38 </span>
                          </p>
                          <p style="font-size: 14px;color: #333;font-weight: 550;">
                            <a href="#" class="txt-edu">Trường Đại học Hà Tĩnh chính thức trở thành điểm thi Đánh giá năng lực (HSA) năm 2024</a>
                          </p>
                          <p>
                            <a href="#" class="btn-edu">Xem chi tiết</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="left-edu">
                        <div class="edu-img">
                          <img src="assets/images/News-edu/5.jfif" alt="">
                        </div>
                        <div class="edu-text">
                          <p>
                            <i class="far fa-calendar-alt"></i>
                            <span> 17/08/2023, 13:38 </span>
                          </p>
                          <p style="font-size: 14px;color: #333;font-weight: 550;">
                            <a href="#" class="txt-edu">Trường Đại học Hà Tĩnh chính thức trở thành điểm thi Đánh giá năng lực (HSA) năm 2024</a>
                          </p>
                          <p>
                            <a href="#" class="btn-edu">Xem chi tiết</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- End-news-edu -->

<!-- service-activities -->
<div class="posContainer">
  <section class="service-operations">
    <div class="container">
      <div class="title-ttkt">
        <h3 >Hoạt động dịch vụ</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="video-item">
           <ul>
            <li>
              <a href="#">
                <p  class="video-date">
                  <i class="fas fa-video"></i><i style="padding: 10px;" class="far fa-calendar-alt"></i>
                  <span style="font-size: 15px;font-family: Merriweather-Regular;"> 26/08/2023 </span>
                </p>
                <p class="video-text">Tổng hợp kỳ thi HSA năm 2023</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p  class="video-date">
                  <i class="fas fa-video"></i><i style="padding: 10px;" class="far fa-calendar-alt"></i>
                  <span style="font-size: 15px;font-family: Merriweather-Regular;"> 26/08/2023 </span>
                </p>
                <p class="video-text">Tổng hợp kỳ thi HSA năm 2023</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p  class="video-date">
                  <i class="fas fa-video"></i><i style="padding: 10px;" class="far fa-calendar-alt"></i>
                  <span style="font-size: 15px;font-family: Merriweather-Regular;"> 26/08/2023 </span>
                </p>
                <p class="video-text">Tổng hợp kỳ thi HSA năm 2023</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p  class="video-date">
                  <i class="fas fa-video"></i><i style="padding: 10px;" class="far fa-calendar-alt"></i>
                  <span style="font-size: 15px;font-family: Merriweather-Regular;"> 26/08/2023 </span>
                </p>
                <p class="video-text">Tổng hợp kỳ thi HSA năm 2023</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p  class="video-date">
                  <i class="fas fa-video"></i><i style="padding: 10px;" class="far fa-calendar-alt"></i>
                  <span style="font-size: 15px;font-family: Merriweather-Regular;"> 26/08/2023 </span>
                </p>
                <p class="video-text">Tổng hợp kỳ thi HSA năm 2023</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p  class="video-date">
                  <i class="fas fa-video"></i><i style="padding: 10px;" class="far fa-calendar-alt"></i>
                  <span style="font-size: 15px;font-family: Merriweather-Regular;"> 26/08/2023 </span>
                </p>
                <p class="video-text">Tổng hợp kỳ thi HSA năm 2023</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p  class="video-date">
                  <i class="fas fa-video"></i><i style="padding: 10px;" class="far fa-calendar-alt"></i>
                  <span style="font-size: 15px;font-family: Merriweather-Regular;"> 26/08/2023 </span>
                </p>
                <p class="video-text">Tổng hợp kỳ thi HSA năm 2023</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p  class="video-date">
                  <i class="fas fa-video"></i><i style="padding: 10px;" class="far fa-calendar-alt"></i>
                  <span style="font-size: 15px;font-family: Merriweather-Regular;"> 26/08/2023 </span>
                </p>
                <p class="video-text">Tổng hợp kỳ thi HSA năm 2023</p>
              </a>
            </li>
           </ul>
          </div>
        </div>
        <div class="col-md-6">
          <iframe id="vidYT" width="100%" height="400" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" loading="lazy" allowfullscreen="" src="https://www.youtube.com/embed/pH_5KyPOQlY?autoplay=1" class="ng-star-inserted"></iframe>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- End-service-activities -->
